<!DOCTYPE html>
<html>

<body>
   <div id="main">
   </div>
   <form action="/authorization" method="GET">
      <input type="submit" id="log_in_btn" />
   </form>
   <br>
   <form action="/registration" method="GET">
      <input type="submit" id="sign_up_btn" />
   </form>
   <br>
   <select id="select_lang">
      <option value="EN">English</option>
      <option value="RU">Russian</option>
   </select>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>

</html>